<p>
  about works!
</p>

<article>
    <h1> Robyn Adele Anderson </h1>
       <div id="cssSlider">
  <div id="sliderImages">
		<img id="si_1" src="http://f.cybrox.eu/codepen/slider/slide1.jpg" alt="" />
		<img id="si_2" src="http://f.cybrox.eu/codepen/slider/slide2.jpg" alt="" />
		<img id="si_3" src="http://f.cybrox.eu/codepen/slider/slide3.jpg" alt="" />
		<img id="si_4" src="http://f.cybrox.eu/codepen/slider/slide4.jpg" alt="" />
		<img id="si_5" src="http://f.cybrox.eu/codepen/slider/slide5.jpg" alt="" />
		<div style="clear:left;"></div>
	</div>
</div>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laudantium nam repellendus odio cupiditate magni natus, nulla tempora! Quis veritatis, est nemo in omnis aliquam? Harum incidunt provident soluta nihil similique?Lorem ipsum dolor sit amet, consectetur adipisicing elit. A aut esse nobis id, laudantium quisquam. Ex sit, voluptas dolorum sequi, accusantium omnis nobis, nostrum neque perferendis similique asperiores voluptates alias.  
        </p>
   <!-- <iframe src="https://www.youtube.com/watch?v=ATzUX3P3cvU" width="100%" frameborder="0" allowfullscreen></iframe>--> 
    
    <video src="https://www.youtube.com/watch?v=ATzUX3P3cvU" width="600"></video>
</article>
